.git
.github
vendor
node_modules
tests
deploy
storage/logs/*
storage/cache/*
storage/metrics/*
storage/tmp/*
storage/uploads/*
!storage/**/.gitkeep
*.md
.env
.env.*
phpunit.xml
phpcs.xml
phpstan.neon
