{
  "openapi": "3.0.3",
  "info": {
    "title": "Sell.getxtra.in Public API",
    "version": "1.0.0",
    "description": "Versioned REST API for the Sell.getxtra.in digital-products marketplace. All responses use a consistent JSON envelope: successful responses wrap the payload in `data` with a `meta` object; errors return an `error` object with a stable `code`. Authenticated endpoints use a Bearer API key with scopes. Developed by ANSHU E-MITRA AND CSC CENTER.",
    "contact": { "name": "ANSHU E-MITRA AND CSC CENTER" }
  },
  "servers": [
    { "url": "https://www.sell.getxtra.in", "description": "Production" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key issued from the account dashboard, sent as `Authorization: Bearer gx_<prefix>_<secret>`."
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "request_id": { "type": "string", "nullable": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" }
            },
            "required": ["code", "message"]
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "short_desc": { "type": "string", "nullable": true },
          "price": { "type": "number" },
          "currency": { "type": "string" },
          "thumbnail": { "type": "string", "nullable": true },
          "rating": { "type": "number" },
          "rating_count": { "type": "integer" },
          "sales": { "type": "integer" },
          "is_featured": { "type": "boolean" },
          "category_id": { "type": "integer", "nullable": true }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "slug": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_number": { "type": "string" },
          "status": { "type": "string" },
          "currency": { "type": "string" },
          "subtotal": { "type": "number" },
          "discount": { "type": "number" },
          "tax": { "type": "number" },
          "total": { "type": "number" },
          "created_at": { "type": "string", "nullable": true }
        }
      }
    }
  },
  "paths": {
    "/api/v1/ping": {
      "get": {
        "summary": "Service liveness banner",
        "operationId": "ping",
        "responses": {
          "200": { "description": "Pong with API version" }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "summary": "This OpenAPI 3 specification",
        "operationId": "openapi",
        "responses": {
          "200": { "description": "The OpenAPI document" }
        }
      }
    },
    "/api/v1/products": {
      "get": {
        "summary": "List approved products",
        "operationId": "listProducts",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 50 } },
          { "name": "category_id", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
                    "meta": { "$ref": "#/components/schemas/Meta" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products/{slug}": {
      "get": {
        "summary": "Fetch a single product by slug",
        "operationId": "showProduct",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The product" },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "summary": "List active categories",
        "operationId": "listCategories",
        "responses": {
          "200": { "description": "Categories" }
        }
      }
    },
    "/api/v1/licenses/verify": {
      "get": {
        "summary": "Verify a license key",
        "operationId": "verifyLicense",
        "parameters": [
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "License is valid" },
          "404": { "description": "License is invalid" }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "summary": "Identity behind the API token",
        "operationId": "me",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "The account and token scopes" },
          "401": {
            "description": "Missing or invalid token",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "summary": "List the token owner's orders",
        "operationId": "listOrders",
        "security": [{ "bearerAuth": ["orders.read"] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "A paginated list of orders" },
          "401": { "description": "Unauthenticated" },
          "403": { "description": "Missing required scope" }
        }
      }
    },
    "/api/v1/orders/{orderNumber}": {
      "get": {
        "summary": "Fetch one of the token owner's orders",
        "operationId": "showOrder",
        "security": [{ "bearerAuth": ["orders.read"] }],
        "parameters": [
          { "name": "orderNumber", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The order with items" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "summary": "List webhook subscriptions",
        "operationId": "listWebhooks",
        "security": [{ "bearerAuth": ["webhooks.manage"] }],
        "responses": {
          "200": { "description": "Subscriptions and available events" }
        }
      },
      "post": {
        "summary": "Create a webhook subscription",
        "operationId": "createWebhook",
        "security": [{ "bearerAuth": ["webhooks.manage"] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "events": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created; the signing secret is returned once" },
          "422": { "description": "Validation error" }
        }
      }
    },
    "/api/v1/webhooks/{id}": {
      "delete": {
        "summary": "Delete a webhook subscription",
        "operationId": "deleteWebhook",
        "security": [{ "bearerAuth": ["webhooks.manage"] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Deleted" },
          "404": { "description": "Not found" }
        }
      }
    }
  }
}
